
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }


/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}


a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

html, body {
    font-weight: 700;
    background-color: #f1f3f5;
    font-size: 1rem;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* 
  Global Reset
*/
.main-button a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: #0e4c92;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #2970c0;
}


  /* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e4c92;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #0e4c92;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #fff;
    border-radius: 50%;
}

.background-header {
    background: rgba(250,250,250,0.99) !important;
    height: 80px!important;
    position: fixed!important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  }

  
.background-header,
.background-header .main-nav .nav li a {
  color: #232d39!important;
}

.background-header .main-nav .nav li:last-child a {
  color: #fff !important;
}

.background-header .main-nav .nav li:last-child a:hover {
  color: #fff!important;
}

.background-header .main-nav .nav li:hover a {
  color: #0e4c92!important;
}

.background-header .nav li a.active {
  color: #0e4c92!important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: rgba(15, 0, 0, 0.1);
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}


.header-area .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  background: transparent;
}

.header-area .main-nav .logo {
  display: inline;
  text-decoration: none;
  width: 200px;
  height: 100px;
}

.header-area .main-nav .logo .logo-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.header-area .main-nav .nav {
  margin-top: 0px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 600;
  font-size: 15px;
  color: #0e4c92;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #fff;
}

.header-area .main-nav .nav li:last-child a {
  display: inline-block;
  font-size: 13px;
  padding: 11px 17px;
  background-color: #0e4c92;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition: all .3s;
  height: auto;
  line-height: 20px;
}

.header-area .main-nav .nav li:last-child a:hover {
  background-color: #fff;
  color: #0e4c92;
  border-radius: 10px;
  opacity: 1;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #0e4c92!important;
  opacity: 1;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #0e4c92!important;
  opacity: 1;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: -15px !important;
}

.header-area.header-sticky .nav li a.active {
  color: #0e4c92;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}


@media (max-width: 768px) {
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #0e4c92!important;
    opacity: 1;
  }
  .header-area {
    background-color: #f7f7f7;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    display: inline-block;
    text-decoration: none;
    position: fixed;
    top: 0px;
    left: 20px;
    margin-left: 0px;
  }

  .header-area.logo-img{
    position: fixed;
    top: 50%;
    right: 50%;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
    justify-content: space-between;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    height: 50%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    clear: both;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li:last-child {
    width: 100%;
    background-color: #0e4c92;
    color: #fff;
  }
  .header-area .main-nav .nav li:last-child a {
    background-color: #0e4c92!important;
  }
  .header-area .main-nav .nav li:last-child a:hover,
  .header-area .main-nav .nav li:last-child:hover a {
    background-color: #0e4c92!important;
    color: #fff!important;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
  }
  .header-area .main-nav .nav li:last-child a {
    color: #fff!important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #0e4c92!important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 768px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff; 
}

/* Styling for the background image */
.bg-img {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bg-img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  object-position: center;
}

/* Styling for the image overlay and text */
.img-overlay {
  position: absolute;
  background-color: rgba(35,45,57,0.8);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 100%;
}


.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 84px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}
/*Bannner Ends*/

/*Services begins*/
.service-wrapper{
  width: 100%;
  padding: 20px 50px;
  margin: 60px 50px 60px 100px;
  font-family: 'Open-Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-wrapper h3{
  color: #212529;
}

.service-wrapper .container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 30px 0px 0px 80px;
}

.service-wrapper .container .service{
  border: 1px solid #0e4c92;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 200px;
  gap: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.service-wrapper .container .service:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.service-wrapper .container .service i{
  align-self: center;
  font-size: 2.5rem;
  color: #0e4c92;
}

.service-wrapper .container .service h3{
  font-size: 1.5rem;
  font-weight: 600;


}

@media screen and (max-width: 767px) {

    .service-wrapper {
      width: 80%;
      margin: 60px 40px;
      justify-content: center;
  }

  .service-wrapper .container {
    flex-direction: column;
    margin: 30px 0px 0px 0px;
  }
}

@media screen and (min-width: 768px) {
    .service-wrapper {
      width: 80%;
  }
}

/*Why us begins*/
.us-heading{
  margin-top: 80px;
  color: #212529;
  margin-left: 50px;
}
.wrapper{
  padding: 20px 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.wrapper .why-us-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.wrapper .why-us-wrapper .why-us{
  height: 100%;
  display: flex;
  gap: 30px;
}

.why-us .icon{
  height: 90px;
  width: 10%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid #0e4c92;
  border: 4px #0e4c92;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon i{
  align-self: center;
  font-size: 2.5rem;
  color: #0e4c92;

}
.why-us .txt{
  width: 80%;
  height: 90px;
  text-align: left;
}
.why-us .txt h4{
  color: #0e4c92;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}
.why-us .txt p{
  color: #212529;
  line-height: 1.5;
}

.wrapper .img{
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
  
}

.img img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Responsive styles using media queries */
@media screen and (max-width: 767px) {
  .wrapper{
    display: inline-block;
  }
  .wrapper .why-us-wrapper .why-us {
    height: 180px;
}
.why-us .icon {
  height: 90px;
  width: 30%;
}
 .why-us .icon i {
    font-size: 2rem;
}
  .img {
   display: none;
   width: 0%;
  }
  .wrapper .why-us-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}


}

@media screen and (min-width: 768px) {
  .us-heading {
    margin-top: 80px;
    margin-left: 50px;
  }

  .wrapper {
    gap: 30px;
  }
}
/*******************
Responsive for qhy us Ends here
************************/



/*Courses Begin*/
.courses-wrapper{
  margin: 80px 0;
  padding: 20px 50px;
  width: 100%;
}
.other1 h2{
  color: #0e4c92;
  font-size: 42px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  font-style: italic;
}
.other1 p{
  font-size: 1rem;
  margin: 0 200px;
  color: #212529;
  text-align: center;
}
 
.other1{
  text-align: center;
  margin-top: 20px;
 }
 
 
 /* Card Aspect */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
   border-radius: 10px;
  box-shadow: none;
  background: #f8f9fa;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

 
.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .courses-wrapper .other1{
    margin: 0;
  }

  .other1 h2 {
    font-size: 30px;
    font-style: normal;
}
.other1 p {
  margin: 0;
  color: #212529;
}

.articles {
  display: flex;
  flex-direction: column;
  max-width: 1000%;
  margin-inline: auto;
  padding-inline: 10px;
  gap: 24px;
  margin-top: 30px;
}
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


/* Message Box  */
form {
  background: #b9b4b4;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 100px auto 0;
  
  border-radius: 2px;
  height: 600px;
  position: absolute;
  left: 66%;
  z-index: 99;
}
  h2 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    font-weight: lighter;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
  }
  p {
    margin: 0 0 3em 0;
    position: relative;
    font-weight: lighter;

  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:2;
    font-weight: lighter;
    padding-left: 10px;
    font-size: 20px;

  }
  input[type="text"],
  input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.4em;
    margin-top: 2px;
    border-radius: 2px;
    font-weight: lighter;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    background: #fff;
    font-weight: lighter;
    margin-top: 2px;
  }
 
 
  .main-banner .side-image{
    margin-top: 50px;
  }
 

  .side-image img{
    height: 550px;
    margin-top: 90px;
    z-index: -99;
  
  }







  /* footer */



  ul {
    list-style: none;
}
a {
    text-decoration: unset;
}
a:hover {
    text-decoration: underline;
}
ul > li > a {
    color:#fff;
}
ul > li {
    line-height: 1.5em;
}
.footer {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 150px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    background: #150c21;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin-top: 200px;
}

.footer-start {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    background: #705df2;
    border-radius: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}
.start-learning {
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
    margin-bottom: 30px;
}
.footer .inner {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
}
.main-logo {
    position: relative;
    display: flex;
    align-items: center;
}
.main-logo .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.main-logo .logo > img {
    display: block;
    width: 100%;
    min-width: 40px;
}
.logo-info {
    text-align: left;
    line-height: 20px;
}
.text {
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    letter-spacing: .18em;
    font-weight: 600;
}
.copyright {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}
.is-logo > a {
    text-decoration: unset;
}


.footer .column {
    width: 100%;
    font-size: 14px;
    text-align: left;
}
.footer .column .column-title {
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 16px;
}
.footer .column .column-title:not(:first-child) {
    margin-top: 1.5em;
}

.illustration {
    position: absolute;
    top: -28px;
    left: 8%;
}
a.button {
    display: inline-flex;
    position: relative;
    height: 60px;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: #fff;
    color: #705df2;
    border-radius: 36px;
    box-shadow: 0px 24px 74px rgb(60 0 189 / 20%);
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    text-decoration: unset;
}
.section-title {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}
h3.section-sub-title {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}
.section-sub-title span{
    opacity: 0.6;
}
h3.section-sub-title strong {
    font-weight: 600;
}


@media only screen and (max-width: 990px) and (min-width: 200px) {
    body {
        height: 200vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .footer .inner {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    }
    .start-learning {
        position: unset;
    }
    .footer-start {
        width: 100%;
        display: block;
        padding: 30px 20px;
        margin: 30px auto;
    }
    .section-title {
        font-size: 30px;
    }
    h3.section-sub-title {
        font-size: 18px;
    }
    .footer {
        padding-top:0;
    }
    a.button {
        height: 50px;
        margin-top: 10px;
    }
    .column.is-logo {
        order: 4;
    }
} 


/* About page Begins*/
.about-section{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 40px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section .intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-section  h4, i{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #0e4c92;
}

.about-section .intro p{
  font-weight: 600;
  color: #212529;
  line-height: 1.5;
}
.about-wrapper{
  width: 100%;
  height: 500px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px 50px;
  margin: 30px 50px;
}

.about-wrapper .text-p{
  width: 50%;
}
.about-wrapper .text-p .icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
}

.about-wrapper .text-p p{
  font-weight: 400;
  color: #212529;
  line-height: 1.5;
}


.about-wrapper .img-p{
  width: 50%;
  height: 100%;
  padding: 0 0 10px;
  border-right: 20px solid #0e4c92;
  border-bottom: 20px solid #0e4c92;
  background-size: cover;
  background-position: center;
}


.about-wrapper .img-p-one{
  width: 50%;
  height: 100%;
  padding: 0 0 10px;
  border-left: 20px solid #0e4c92;
  border-bottom: 20px solid #0e4c92;
  background-size: cover;
  background-position: center;
}
.img-p img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
    margin-left: -10px;
}

.img-p-one img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}

/*Responsive desing for smaller screens begins*/
@media screen and (max-width: 767px){
  .about-section{
   width: 100vw;
  padding:10px 10px;
  margin: 80px 0;
  gap: 90px;
  }

    .about-section  h4, i{
    font-size: 1.5rem;
  }
    .about-section .intro{
    margin-bottom:0px;
  }

    .about-wrapper {
      width: 100vw;
      height: 500px;
      flex-direction: column;
      text-align: left;
      align-items: center;
      padding: 10px 10px;
      margin: 30px 50px;
  }

    .about-wrapper .text-p {
      width: 100vw;
      display: flex;
      flex-direction: column;
      padding-left: 15px;
  }

    .about-wrapper .img-p-one {
      width: 100vw;
      height: 100%;
      padding: 0 0 10px;
  }

    .about-wrapper .text-p .icon {
      display: flex;
      justify-content: flex-start;
      align-items: left;
      gap: 10px;
  }

    .about-wrapper .img-p {
      width: 100vw;
      height: 100%;
      padding: 0 0 10px;
      margin: 0 20px;
  }
}
/*Responsive for smaller devices ends*/

/* Executive Memebers begins */
.members{
  width: 100vw;
  padding: 50px 60px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.members h4{
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #0e4c92;
}

.members .person{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.members .members-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
  text-align: center;
}

.members .person-img{
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border: 1px solid red;
  background-size: cover;
  background-position: center;
}

.members .person-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.animated.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Design for smaller devices */
@media  screen and (max-width: 767px){
    .members .person-img{
      width: 350px;
    }

    .members .members-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

    .members h4{
    font-size: 1.5rem;
  }
}

.chat-button{
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(31, 219, 14);;
  z-index: 999;
}
.chat-button i{
  margin-top: 30px;
  font-size: 2rem;
  color: #fff;
}
